<%= stylesheet_link_tag "event_calendar" %>

<h1>Reservations</h1>

<%= link_to 'New Reservation', new_reservation_path %>

<%= raw(event_calendar) %>

<%= link_to 'New Reservation', new_reservation_path %>

